﻿@page "/placesettings/{Id}"
@layout MainLayout
@inherits BaseComponentPage
@using NextDesk.MongoDataLibrary.Models.Org;

@attribute [Authorize(Roles = "partner")]

@if (place is null) return;

<div class="px-4">
    <div class="card-body">
        <div class="row flex-column text-center">
            <h1 class="card-title">@place.InternalName</h1>
            <div class="px-3">
                <img src="@GetImageUrl()" class="img-fluid border rounded-3" />
            </div>
        </div>
        <div class="my-2">
            <TabManager Small Fill UnderLine>
                <TabHeader Name=@("Generale") />
                <TabHeader Name=@("Disponibilità") />
                <TabHeader Name=@("Servizi") />

                <TabContent Name=@("Generale")>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>@("Capacità attuale"): @place.Booking.TotalCapacity</h6>
                        <button class="btn btn-outline-dark" @onclick=@OnClickTablesDialog>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="my-1">
                        <MyMultiTextInputForm Rows=6 FieldInfo=@(new FormFieldInfo("description")) @bind-Value=@descriptionForm.Description Placeholder=@("Aggiungi descrizione")>
                            <Label>@("Descrizione")</Label>
                        </MyMultiTextInputForm>
                    </div>
                    <div>
                        <button class="btn float-end rounded-4" style="background-color: #00cb74;" @onclick=@OnClickSaveDescription>@("Salva")</button>
                    </div>
                </TabContent>
                <TabContent Name=@("Disponibilità")>
                    <div class="d-flex flex-column">
                        <h6 class="">@("Gestisci disponibilità")</h6>
                        @foreach (var day in place.Calendar.Days)
                        {
                            <button class=@("btn my-1 " + (day.IsOpen ? "btn-outline-success" : "btn-outline-warning")) @onclick=@(() => editDayDialog.Show(day))>@AppTexts._DayOfWeek(day.DayOfWeek, UILang)</button>
                        }
                    </div>
                </TabContent>
                <TabContent Name=@("Servizi")>
                    <div>
                        @foreach (var service in servicesForm.Services)
                        {
                            <div class="d-flex flex-column rounded-4">
                                <span class="me-1">
                                    <i class=@("fa-solid fa-2xl" + OptionsForPlaces.ServicesIcon.FindOption(service.Name, true)) />
                                </span>
                                <span>
                                    @OptionsForPlaces.Services.FindOption(service.Name)
                                </span>
                            </div>
@*                             <MyCheckBoxInputForm @bind-Value=@service.Enable FieldInfo="@(new FormFieldInfo("Service"))"
                                                 Icon="@(OptionsForPlaces.ServicesIcon.FindOption(service.Name, true))">
                                <Label>@service.Description</Label>
                            </MyCheckBoxInputForm> *@
                        }
                    </div>
                    <div>
                        <button class="btn btn-success float-end" @onclick=@OnClickSaveServices>@("Salva")</button>
                    </div>
                </TabContent>
            </TabManager>
        </div>
    </div>
</div>

<MyDialog Visible=@editTableDialog.Visible Center Close="@editTableDialog.Hide">
     <DialogTitle>@("Tavoli")</DialogTitle>
    <Content>
        <p class="text-muted">@("Imposta il numero di tavoli disponibile per prenotare al tuo locale.")</p>
        <div class="">
            <span>@("Capacità totale: ") @editTableDialog.form.Capacity</span>
            <button class="btn btn-sm btn-outline-dark rounded-4" @onclick=@(() => editTableDialog.form.Tables.Add(new()))>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>

        <div class="table-responsive" style="max-height: 300px;">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@("Nro.")</th>
                        <th>@("Posti")</th>
                        <th>@("Condiviso")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in editTableDialog.form.Tables)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-outline-danger" @onclick=@(() => editTableDialog.form.RemoveTable(table.TableId))>
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                            <td>@(editTableDialog.form.Tables.FindIndex(f => f.TableId == table.TableId) + 1)</td>
                            <td>
                                <button class="btn btn-outline-dark btn-sm rounded-4" @onclick=@(() => editTableDialog.form.ChangePlaces(table.TableId, -1))>
                                    <i class="fa-solid fa-minus" />
                                </button>
                                @table.Capacity
                                <button class="btn btn-outline-dark btn-sm rounded-4" @onclick=@(() => editTableDialog.form.ChangePlaces(table.TableId, 1))>
                                    <i class="fa-solid fa-plus" />
                                </button>
                            </td>
                            <td><MyCheckBoxInputForm @bind-Value=@table.CanBeShare Css="mb-0" FieldInfo=@(new FormFieldInfo("check")) /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </Content>
    <DialogFooter>
        <button class="btn btn-sm rounded-4" @onclick=@editDayDialog.Hide>@("Chiudi")</button>
        <button class="btn btn-sm rounded-4" style="background-color: #00cb74;" @onclick=@OnClickSaveTables>@("Salva")</button>
    </DialogFooter>
</MyDialog>

<MyDialog Visible=@editDayDialog.Visible Center Close="@editDayDialog.Hide">
     <DialogTitle>@("Impostazione") @AppTexts._DayOfWeek(editDayDialog.form.DayConfig.DayOfWeek, UILang)</DialogTitle>
    <Content>
        <div class="row text-center">
            <h4 class="col-12">@("Orari apertura attività")</h4>
            <table class="table mb-1">
                <thead>
                    <tr>
                        <th scope="col">@("Apertura")</th>
                        <th scope="col">@("Chiusura")</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var range in editDayDialog.form.TimeRange.Select((e, i) => new { Open = e.Open, Close = e.Close, Index = i }))
                    {
                        <tr>
                            <td>
                                <input class="form-control" type="time" value="@range.Open.ToString("HH:mm:ss")" @onchange=@(e => editDayDialog.form.Edit("open", range.Index, e.Value?.ToString())) />
                            </td>
                            <td>
                                <input class="form-control" type="time" value="@range.Close.ToString("HH:mm:ss")" @onchange=@(e => editDayDialog.form.Edit("close", range.Index, e.Value?.ToString())) />
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger" @onclick=@(() => editDayDialog.form.TimeRange.RemoveAt(range.Index))>
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (editDayDialog.form.TimeRange.Count < 2)
            {
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-dark" @onclick=@editDayDialog.form.NewTimeSlot>@("Aggiungi slot")</button>
                </div>
            }
        </div>
        <div class="row text-center mt-4">
            <h4 class="col-12">@("Orari apertura NEDE")</h4>
            <table class="table mb-1">
                <thead>
                    <tr>
                        <th scope="col">@("Apertura")</th>
                        <th scope="col">@("Chiusura")</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var range in editDayDialog.form.NedeTimeRange.Select((e, i) => new { Open = e.Open, Close = e.Close, Index = i }))
                    {
                        <tr>
                            <td>
                                <input class="form-control" type="time" value="@range.Open.ToString("HH:mm:ss")" @onchange=@(e => editDayDialog.form.EditNede("open", range.Index, e.Value?.ToString())) />
                            </td>
                            <td>
                                <input class="form-control" type="time" value="@range.Close.ToString("HH:mm:ss")" @onchange=@(e => editDayDialog.form.EditNede("close", range.Index, e.Value?.ToString())) />
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger my-auto" @onclick=@(() => editDayDialog.form.NedeTimeRange.RemoveAt(range.Index))>
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (editDayDialog.form.NedeTimeRange.Count < 2)
            {
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-dark" @onclick=@editDayDialog.form.NewNedeSlot>@("Aggiungi slot")</button>
                </div>
            }
        </div>
    </Content>
    <DialogFooter>
        <button class="btn btn-sm" @onclick=@editDayDialog.Hide>@("Chiudi")</button>
        <button class="btn btn-success btn-sm" @onclick=@SalvaDaySetting>@("Salva")</button>
    </DialogFooter>
</MyDialog>