@page "/placebooking/{Id}"
@layout MainLayout
@inherits BaseComponentPage

@if (place is null) return;

<div class="text-center">
    <h6>Prenotazione</h6>
</div>
<div class="px-4" style="background-color: #fefdf9;">
    <div class="card-body">
        <div class="row flex-column text-center">
            <h1 class="card-title">@place.InternalName</h1>
            <div class="px-3">
                <img src="/images/coffe.jpg" class="img-fluid border rounded-3" />
            </div>
        </div>
        <div class="row my-2">
            <h5>Descrizione</h5>
            <div>
                <p class="px-1 m-auto text-muted">
                    @if (showFullDescription)
                    {
                        @place.Info.Description
                    }
                    else
                    {
                        @ShortDescription()
                        <span>...</span>
                    }
                </p>
                @if (!showFullDescription)
                {
                    <div class="text-center">
                        <button class="btn btn-outline-secondary btn-sm" @onclick="@(() => showFullDescription = true)">Vedi tutto</button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <h5>Schedule</h5>
            <div class="row">
                <div class="d-flex overflow-x-scroll">
                    @foreach (var day in nextBookingDays)
                    {
                        <button class=@(CssDateButton(day.Date)) @onclick=@(() => SelectDay(day)) disabled="@(!day.Config.IsOpen)">
                            <strong>@day.Date.Day</strong>
                            <small>@day.Date.ToString("MMMM", CultureInfo.CurrentUICulture)</small>
                        </button>
                    }
                </div>
            </div>
            @if (SelectedDay is not null)
            {
                <h5>@("Orari")</h5>
                <div class="row my-2">
                    <div class="d-flex overflow-x-scroll">
                        @if (SelectedDay.Config.NedeTimeRanges.Count == 0)
                        {
                            <div class="alert alert-light" role="alert">
                                @("Non ci sono orari per questo giorno.")
                            </div>
                        }
                        @foreach (var range in SelectedDay.Config.NedeTimeRanges)
                        {
                            <button class=@("btn btn-sm " + (range == SelectedDay.Range ? "btn-success" : "btn-primary")) @onclick=@(() => SelectedDay.Range = range)>
                                <strong>@(ConvertTimeRange(range))</strong>
                            </button>
                        }
                    </div>
                </div>
                <div class="text-center">
                    @if (SelectedDay.Range is not null)
                    {
                        <button type="button" class="btn btn-primary btn-lg" @onclick=@ShowBookingDialog>@("Prenota >>")</button>
                    }
                </div>
            }
        </div>
    </div>
</div>

<MyDialog Visible=@bookingDialog.Visible Center Closed="@(() => bookingDialog.Visible = false)">
    <DialogTitle>@("Prenotazione")</DialogTitle>
    <Content>
        <div class="row">
            @("Posto: ")@place.InternalName
        </div>
        <div class="row">
            @($"Data: {bookingDialog.form.Date.ToString("M", CultureInfo.CurrentUICulture)}")
        </div>
        <div class="row">
            @($"Orario: {ConvertTimeRange(bookingDialog.form.Range)}")
        </div>
    </Content>
    <DialogFooter>
        <button class="btn btn-sm" @onclick=@(() => bookingDialog.Visible = false)>@("Chiudi")</button>
        <button class="btn btn-primary btn-sm" @onclick=@OnClickCreateBooking>@("Prenota")</button>
    </DialogFooter>
</MyDialog>
