@page "/placedetail/{Id}"
@layout MainLayout
@inherits BaseComponentPage

@if (place is null) return;

<div class="card">
    <div>
        <img src="/images/coffe.jpg" class="img-fluid" />
    </div>
    <div class="card-body">
        <h2 class="card-title">@place.InternalName</h2>
        <p>Disponibilità</p>
        @foreach (var day in place.Calendar.Days)
        {
            <div class="row border rounded border-1 my-2 p-2">
                @(AppTexts._DayOfWeek(day.DayOfWeek, UILang))
                <div class="my-2">
                    <input type="checkbox" class="form-check-input" value="@day.IsOpen" />
                    <label for="@day" class="form-check-label">
                        @AppTexts._Open(UILang)
                    </label>
                </div>
            </div>
        }
    </div>
</div>

