@page "/bookings/bookinglist"
@layout MainLayout
@inherits BaseComponentPage

<BannerNede Title=@("Appuntamenti") />
<div class="mt-2">
    @if (State.CurrentUser.IsPartner)
    {
        <MySelectInputForm FieldInfo="@(new(string.Empty))" @bind-Value=@SelectedPlace Options="@places">
            <Label>@("Appuntamenti di:")</Label>
        </MySelectInputForm>
    }

    <BackgroundLoader TaskId="@nameof(BookingList)">
        <TabManager Fill Pills>
            <TabHeader Name=@("Prossimi") />
            <TabHeader Name=@("Passati") />

            <TabContent Name=@("Prossimi")>
                <div>
                    <h4>@("Oggi")</h4>
                    @if (bookings.Where(w => w.BookingDate.Date == DateTime.UtcNow.Date).Count() == 0)
                    {
                        <div class="alert alert-info" role="alert">
                            @("Non ci sono appuntamenti!") <a href="/home/user" class="btn btn-link">@("Prenota ora")</a>
                        </div>
                    }
                    <ul class="list-group">
                        @foreach (var booking in bookings.Where(w => w.BookingDate.Date == DateTime.UtcNow.Date))
                        {
                            <BookingCard Booking="@booking" />
                        }
                    </ul>
                </div>
                <div class="mt-3">
                    <h4>@("Prossimi")</h4>
                    <ul class="list-group">
                        @foreach (var booking in bookings.Where(w => w.BookingDate.Date > DateTime.UtcNow.Date))
                        {
                            <BookingCard Booking="@booking" />
                        }
                    </ul>
                </div>
            </TabContent>
            <TabContent Name=@("Passati")>
                <h4>@("Passati")</h4>
                <ul class="list-group">
                    @foreach (var booking in bookings.Where(w => w.BookingDate.Date < DateTime.UtcNow.Date))
                    {
                        <BookingCard Booking="@booking" />
                    }
                </ul>
            </TabContent>
        </TabManager>
    </BackgroundLoader>
</div>