@page "/"
@inherits BaseComponentPage

<div class="container">
    <div class="row flex-column">
        <img src="/images/full_icon.svg" class="img-fluid" alt="Logo" />
    </div>
    @if (Loading)
    {
        <LoadingIcon />
    }
    else
    {
        <div class="row flex-column">
            <MyTextInputForm FieldInfo="@handler.GetField("Email")" @bind-Value=@LoginForm.Email Placeholder="Email" Disabled=@Loading>
                <Addon>@("@")</Addon>
            </MyTextInputForm>
            <MyTextInputForm Type="password" FieldInfo="@handler.GetField("Password")" @bind-Value=@LoginForm.Password Placeholder="Password" Disabled=@Loading>
                <Addon>@("#")</Addon>
            </MyTextInputForm>
        </div>
        @if (!string.IsNullOrEmpty(Error))
        {
            <div class="row">
                <div class="alert alert-danger" role="alert">@Error</div>
            </div>
        }
        <div class="row flex-column">
            <button class="btn rounded-4 text-uppercase" style="background-color: #00cb74;" @onclick="@(() => Login())" disabled="@Loading">
                @AppTexts.Login
            </button>
            <a class="btn rounded-4 mt-2 text-uppercase" style="background-color: #eddb48;" href="/register">
                @AppTexts.Register
            </a>
            <a class="mt-2 text-muted text-center" href="/register">
                @AppTexts.Dimenticato_Password ?
            </a>
        </div>
    }
</div>

