@page "/"
@inherits BaseComponentPage

<BannerNede FullWidth/>
@if (Loading)
{
    <LoadingIcon />
    return;
}

<div class="container">
    <div class="row flex-column">
        <MyTextInputForm FieldInfo="@handler.GetField("Email")" @bind-Value=@LoginForm.Email Placeholder="Email" Disabled=@Loading>
            <Addon>@("@")</Addon>
        </MyTextInputForm>
        <MyTextInputForm Type="password" FieldInfo="@handler.GetField("Password")" @bind-Value=@LoginForm.Password Placeholder="Password" Disabled=@Loading>
            <Addon>@("#")</Addon>
        </MyTextInputForm>
    </div>
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="row">
            <div class="alert alert-danger" role="alert">@Error</div>
        </div>
    }
    <div class="row flex-column">
        <button class="btn rounded-4 text-uppercase" style="background-color: #00cb74;" @onclick="@(() => Login())" disabled="@Loading">
            @AppTexts.Login
        </button>
        <a class="btn rounded-4 mt-2 text-uppercase" style="background-color: #eddb48;" href="/register">
            @AppTexts.Register
        </a>
        <button class="btn mt-2 text-muted text-center" @onclick=@passwordDialog.Show>
            @AppTexts.Dimenticato_Password ?
        </button>
    </div>
</div>

<MyDialog Visible=@passwordDialog.Visible Center Close="@passwordDialog.Hide" StackContent>
    <DialogTitle>@AppTexts.Dimenticato_Password?</DialogTitle>
    <Content>
        <div class="text-center">
            @if (!passwordDialog.Sent)
            {
                <p class="text-wrap text-center">@("Inserice la tua mail per ricevere la mail con il link per reimpostare las tua password.")</p>
                <MyTextInputForm FieldInfo="@(new FormFieldInfo("Email"))" @bind-Value=@passwordDialog.Email Placeholder="Email" />
            }
            else
            {
                <p class="text-wrap text-center">@("Ti abbiamo appena inviato un'email per reimpostare la password. Controlla anche tra gli spam.")</p>
                <span>
                    <i class="fa-solid fa-circle-check fa-2xl text-success"></i>
                </span>
            }
        </div>
        @if (!string.IsNullOrEmpty(passwordDialog.Error))
        {
            <div class="row">
                <div class="alert alert-danger" role="alert">@passwordDialog.Error</div>
            </div>
        }
    </Content>
    <DialogFooter>
        <button class="btn rounded-4 text-uppercase" style="background-color: #00cb74;" @onclick=@ResetPassword disabled=@passwordDialog.Sent>
            @("Invia link")
        </button>
    </DialogFooter>
</MyDialog>